@model ArtSharing.Data.Models.Models.Post

<div class="col">
    <div class="card h-100 shadow-sm">
        <div class="image-card-wrapper">
            <div class="image-blur-bg" style="background-image: url('@Model.ImagePath');"></div>
            <img src="@Model.ImagePath" alt="@Model.Title" class="main-image" />
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary mt-2">View Details</a>
        </div>
        <div class="card-footer text-muted">
            by <strong>@Model.User.UserName</strong> | @Model.Category.Name
        </div>
    </div>
</div>
